# Extract relevant worksheets from ONS Excel data
---
## ONS API Website
- https://developer.ons.gov.uk/dataset/

## Checklist:
- [x] Multi-factor productivity estimates (7th July 2020)
- [x] UK business: activity, size and location (29th Sept 2020)
- [x] Regional gross value added (balanced) by industry: all NUTS level regions (19th Dec 2019)
- [x] Regional gross disposable household income: all NUTS level regions (4th June 2020)

## Note: 
- To adjust for inflation, all extracted panel and time series data use 2016 as the base year for price-related data.
- Prices in cross-sectional data, however, are given in current prices for that year.

In [1]:
import numpy as np
import pandas as pd

import tempfile
import urllib
import requests

In [2]:
# Add a custom header to urllib request
# Circumvents ONS response with HTTP 403 if user agent is Python

opener = urllib.request.build_opener()
opener.addheaders = [('User-agent', 'Mozilla/5.0')]
urllib.request.install_opener(opener)

In [3]:
# Function to download and save file as a temporary file

def get_excel_to_dataframe(url, worksheet, header, index_col):

    # Create temporary directory in data dir
    f = tempfile.TemporaryDirectory(dir = "data/")
    
    # Get Excel workbook
    path = f'{f.name}/data.xlsx'

    try:
        resp = urllib.request.urlretrieve(url, path)
        # Excel to DataFrame
        result = pd.read_excel(path, worksheet, header=header, index_col=index_col)
        f.cleanup()
        return result

    except:
        f.cleanup()

## 1. MFP Estimates (Date: 7th July 2020)
- Table A6 - Multi-factor productivity: annual indices and log changes (industries P and Q suppressed)

In [4]:
mfp_url = "https://www.ons.gov.uk/file?uri=%2feconomy%2feconomicoutputandproductivity%2fproductivitymeasures%2fdatasets%2fmultifactorproductivityexperimentalestimatesreferencetables%2fcurrent/mfp01unlinked03072020final1.xlsx"
mfp_data = get_excel_to_dataframe(mfp_url, 'Table A6', header=3, index_col=0)
mfp_data

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,STU,TOTAL MS
2016=100,(GVA/Combined Inputs),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,57.4118,184.220183,43.886764,47.509904,164.028777,105.746753,74.115579,37.942492,135.938990,58.967936,83.679284,72.379110,64.908257,54.539341,NaN,NaN,NaN,65.734804,302.272727,61.508636
1971,61.0501,180.471140,44.575163,50.336339,164.071856,109.046053,75.372651,41.691843,140.963855,59.705043,78.960943,73.173432,68.880866,58.838710,NaN,NaN,NaN,69.526248,306.742739,63.061798
1972,60.9016,148.756271,45.867882,55.212580,170.780693,105.876822,76.672241,44.788252,141.446579,60.904977,75.416667,74.064926,72.859116,62.686567,NaN,NaN,NaN,69.933350,291.501416,64.339883
1973,62.3672,161.272378,49.186422,60.253542,186.119874,102.353812,75.495893,49.591352,138.912732,64.010394,74.787443,74.192463,77.959451,67.516301,NaN,NaN,NaN,72.324455,282.884448,67.108575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,10.2117,3.920710,-1.720987,-3.552453,5.099670,2.867071,2.985334,-2.434624,-0.831727,4.262185,-3.003324,4.740665,1.628041,-1.687169,NaN,NaN,NaN,2.730555,8.291525,0.798376
2016,-5.8437,-0.856347,-0.250866,-0.603540,4.913046,1.095731,3.190505,-6.399249,-2.091955,2.016050,0.331641,2.165715,-0.707673,-3.136741,NaN,NaN,NaN,0.918208,-2.865350,0.071696
2017,2.1313,9.923017,1.002860,-5.553409,-2.833823,1.810733,0.941460,2.769820,0.863343,0.689196,1.976228,2.391429,6.747020,-0.689790,NaN,NaN,NaN,-2.188189,-2.090264,1.518520
2018,2.08058,2.435921,-0.691999,-6.877706,0.551767,-2.298036,2.935592,0.874407,2.008778,4.330445,-2.758395,-0.010482,2.299392,-0.102768,NaN,NaN,NaN,1.475190,-1.927342,0.533871
2019,-0.554653,5.747840,-2.834255,-3.318937,-1.894885,-0.007249,2.901498,-1.679937,-3.207942,3.758866,-2.538542,-0.944464,-3.767562,2.059199,NaN,NaN,NaN,-4.785101,-8.526566,-0.408415

In [5]:
# Drop first row, drop last total column, drop columns of NaNs, and name index "year"
# Drop bottom half of data (bottom half contain a different log value table)

mfp_data = mfp_data.iloc[1:51, :-1]
mfp_data = mfp_data.loc[:, ~mfp_data.columns.isin(['O', 'P', 'Q'])]
mfp_data.index.name = 'year'
mfp_data

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,R,STU
year,,,,,,,,,,,,,,,,
1970,57.4118,184.220183,43.886764,47.509904,164.028777,105.746753,74.115579,37.942492,135.938990,58.967936,83.679284,72.379110,64.908257,54.539341,65.734804,302.272727
1971,61.0501,180.471140,44.575163,50.336339,164.071856,109.046053,75.372651,41.691843,140.963855,59.705043,78.960943,73.173432,68.880866,58.838710,69.526248,306.742739
1972,60.9016,148.756271,45.867882,55.212580,170.780693,105.876822,76.672241,44.788252,141.446579,60.904977,75.416667,74.064926,72.859116,62.686567,69.933350,291.501416
1973,62.3672,161.272378,49.186422,60.253542,186.119874,102.353812,75.495893,49.591352,138.912732,64.010394,74.787443,74.192463,77.959451,67.516301,72.324455,282.884448
1974,64.9128,140.914800,49.123094,61.142082,171.586376,96.737943,67.694994,49.158702,128.789561,59.933500,72.282440,71.127673,75.485437,66.461710,67.791908,258.818770
1975,62.2067,151.389858,48.640974,62.858879,162.726176,94.693548,65.421288,48.778183,127.693603,59.498956,76.744895,71.892066,73.218527,64.796480,67.939789,256.775701
1976,57.8496,134.410020,50.111332,63.060093,165.825755,94.475228,67.740047,50.849800,130.439684,61.677149,76.484561,74.737177,74.027460,66.202464,72.235927,254.992658
1977,64.4592,118.889746,50.405046,65.511576,166.008018,95.431220,67.425265,52.919203,131.946384,62.662866,74.144812,77.879747,71.974180,65.471311,74.900750,261.705202
1978,68.7023,116.121222,50.850311,68.577560,170.002851,101.364458,71.579743,54.756064,139.807428,63.851618,74.931954,78.537810,72.086043,66.844660,78.325663,232.532348
1979,68.746,150.116613,50.322395,72.206875,163.555308,100.453074,71.802326,57.617427,139.984060,65.998458,76.981627,78.707108,74.112636,69.887955,80.506823,183.758263
1980,74.503,147.616153,48.148148,73.550102,143.145943,95.720353,67.067480,55.968530,134.715026,68.134814,73.896595,78.584283,72.074468,69.128114,84.584308,171.197679
1981,76.755,158.615756,48.458605,78.348178,140.513110,91.349890,67.751318,58.551705,134.521625,68.245021,73.893805,78.979592,71.555744,69.706137,84.915724,155.948309
1982,81.3365,164.438295,50.997753,78.630227,135.906898,101.178305,70.474968,59.859361,134.697602,70.283371,73.644329,77.537250,75.422680,74.319728,83.122538,144.015444
1983,77.4727,166.458333,54.341956,81.423640,130.816901,107.815214,75.867132,64.867324,137.950863,74.027880,73.620185,79.115684,80.909091,80.526966,88.812500,140.402075
1984,89.8503,155.333620,56.522359,66.078205,122.044370,109.755274,76.540368,65.056147,133.241758,75.455182,70.846662,77.354382,79.831625,81.002331,88.398661,134.723049
1985,87.4667,169.718491,57.072863,82.145193,135.120045,108.805871,77.463117,69.071103,136.698337,75.378041,66.248257,78.152610,79.310345,82.340350,87.434079,128.697042
1986,86.5221,172.259411,58.486693,97.605285,146.355767,114.290518,80.508760,72.037065,140.510697,74.854873,65.465408,78.240990,78.985727,83.005008,92.608217,129.227663
1987,85.0413,176.499377,60.389067,100.032868,152.458564,120.231305,83.688975,74.203596,144.965700,77.133608,70.295203,73.758154,78.752492,82.639975,95.049505,130.807850
1988,84.4134,164.832471,63.909723,100.230529,156.770692,120.497076,85.646300,75.875221,145.492401,75.903940,71.944776,64.529361,80.823345,85.888148,94.919573,133.433219
1989,87.3434,146.930548,65.496680,100.489556,152.646903,114.441955,84.740070,76.874424,135.481454,70.988415,67.816643,56.016980,75.386055,81.095313,92.839391,127.343284
1990,91.5418,141.393934,66.400770,103.540403,150.089813,112.654399,82.022633,76.151832,130.117689,65.938362,69.320269,48.943324,73.153779,78.916401,89.739365,120.786092
1991,93.8558,147.378482,67.196193,109.174460,141.693330,108.632624,80.480824,76.089864,121.047989,63.173250,68.315946,45.003701,72.446556,77.780482,90.022438,118.500739
1992,100.814,154.563071,68.969925,109.048435,136.674473,110.084852,83.383127,76.666230,112.367067,62.436660,66.903002,42.824827,66.478646,72.489684,85.913313,110.537084
1993,92.7921,173.322454,71.499885,113.861234,136.236080,108.332158,89.376771,79.391224,116.094571,61.221053,69.272893,43.879129,66.376582,72.443246,88.604144,112.381883
1994,89.3044,206.034652,73.854427,111.598174,135.083227,103.994490,91.079038,82.494191,114.744898,60.098814,68.077837,44.753631,67.478895,73.420195,86.175057,108.847427
1995,85.387,213.061425,73.065290,120.044614,133.696322,102.370249,90.644379,87.498386,115.183946,59.462507,67.661547,46.062567,67.671692,73.710692,84.911526,108.642332
1996,83.0432,215.535663,72.444315,133.626119,126.487199,103.878079,92.024048,91.816778,108.552951,56.385752,71.353251,47.988158,69.250504,72.974052,83.630017,104.157012
1997,83.7497,206.534897,73.579710,136.036187,119.905296,104.526472,90.676230,100.101138,103.849045,55.176828,74.763271,50.701801,71.918177,71.860594,84.567482,105.702402
1998,90.1201,199.633834,73.317966,140.037087,122.410609,102.820580,88.809465,100.896209,104.450459,58.514075,88.154459,50.452815,78.652470,69.756683,91.280873,104.598761
1999,102.57,205.801473,75.395067,154.309579,119.010669,102.362306,85.889352,102.496516,109.790732,67.211639,84.721311,51.958895,79.750042,71.610101,84.583103,99.645570
2000,108.802,206.893457,78.406519,157.817675,110.492822,100.903161,83.590643,108.032825,109.947260,77.736549,87.273675,53.467312,81.167239,73.135683,87.116228,99.482115
2001,108.57,195.966356,79.914197,160.262839,108.753582,99.890177,85.576703,105.464604,112.619694,79.927302,88.966127,52.647024,83.757462,74.366401,84.400170,104.990090
2002,121.646,194.683934,81.264732,164.245907,114.787722,103.478781,89.747976,105.228179,114.965508,81.078599,89.732475,53.760255,83.365079,71.914286,88.561952,96.667781
2003,114.181,185.184849,84.214533,167.610281,114.736549,105.121669,90.349399,107.720829,114.847162,85.799818,95.188588,56.219458,86.955862,71.583183,96.164354,96.261473
2004,108.417,176.238728,88.165217,171.995065,115.537738,107.396583,92.538641,113.943726,112.777556,89.393341,100.776322,58.300611,89.911425,71.401719,96.954933,96.176369
2005,115.622,166.410497,90.779000,163.130881,114.910643,103.302305,91.283642,116.580427,115.833114,91.909056,108.219178,62.563776,93.657086,73.130087,103.362010,100.782329
2006,106.728,156.370801,94.749316,156.353414,108.261596,102.108696,94.246908,115.958040,117.628368,91.674889,114.578243,64.499590,97.325837,75.414744,100.413223,92.419477
2007,102.756,152.651515,96.419012,154.443603,106.920974,101.727793,96.631785,119.530633,113.346973,95.378303,116.250828,65.371975,101.177394,81.666269,98.264308,91.060026
2008,107.004,148.538743,95.737860,140.141529,101.480144,98.586349,91.874265,114.002205,111.469664,97.006277,114.359471,67.647343,102.545124,82.263752,94.317697,90.130624
2009,91.1143,138.140739,93.671142,136.192994,90.420265,87.347906,88.438422,101.271702,108.019925,91.815494,116.248779,71.752339,96.457584,76.081234,88.994266,87.199170
2010,83.0948,136.731801,98.397728,132.806275,88.021819,98.390882,89.242854,102.422145,111.232293,96.028120,108.064516,74.783862,97.024815,83.578071,90.192454,89.826251
2011,97.0228,119.639011,101.845965,119.258730,91.343025,101.419970,90.401737,107.137211,110.312273,94.992603,104.365751,79.966595,98.980106,88.928828,90.366681,94.044799
2012,91.4409,103.294165,99.979631,117.215728,90.282437,92.788246,89.699296,103.663366,110.504251,96.857046,105.662926,84.435913,97.940231,93.195471,94.212748,95.357506
2013,97.3356,94.974139,99.192807,109.767494,93.743922,90.970044,92.154214,104.562947,104.784904,95.252714,105.455304,89.018319,99.077133,98.695204,97.144368,90.910999
2014,95.726,96.982113,101.991422,104.243563,90.472237,96.114689,94.011000,109.235808,102.966841,93.914786,102.707692,93.326713,99.083854,104.942154,96.417002,94.718416
2015,106.018,100.860024,100.251181,100.605365,95.205691,98.910250,96.859855,106.608439,102.113990,98.004137,99.668908,97.857568,100.710183,103.186455,99.085995,102.906796
2016,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2017,102.154,110.432045,101.007905,94.597978,97.205953,101.827227,100.945906,102.808536,100.867081,100.691576,101.995885,102.420253,106.979838,99.312584,97.835578,97.931431
2018,104.302,113.155114,100.311345,88.310502,97.743786,99.513882,103.953191,103.711443,102.913764,105.147760,99.220884,102.409518,109.468223,99.210575,99.289537,96.062030
2019,103.725,119.849641,97.508178,85.427638,95.909091,99.506669,107.013575,101.983709,99.664742,109.175345,96.733822,101.446850,105.420666,101.274697,94.650313,88.210718

In [6]:
# Export to csv

mfp_data.to_csv('data/mfp_2020.csv')

## 2. UK business: activity, size, and location (Date: 29th Sept 2020)
- Table 10 - Number of VAT and/or PAYE based enterprises by employment sizebands
- Table 11 - Number of VAT and/or PAYE based enterprises by turnover sizebands

In [7]:
ukbusiness_url = "https://www.ons.gov.uk/file?uri=%2fbusinessindustryandtrade%2fbusiness%2factivitysizeandlocation%2fdatasets%2fukbusinessactivitysizeandlocation%2f2020/ukbusinessworkbook2020.xlsx"

In [8]:
ukbusiness_employment_data = get_excel_to_dataframe(ukbusiness_url, 'Table 10 ', header=5, index_col=0)
ukbusiness_employment_data

,Unnamed: 1,0-4,5-9,10-19,20-49,50-99,100-249,250+,Total
K02000001,United Kingdom,2156975.0,305435.0,152540.0,81635.0,27215.0,15180.0,10720.0,2749700.0
K03000001,Great Britain,2097915.0,297235.0,148360.0,79300.0,26455.0,14765.0,10490.0,2674520.0
K04000001,England and Wales,1964640.0,274145.0,136585.0,73320.0,24585.0,13770.0,9785.0,2496830.0
E92000001,England,1883505.0,260680.0,130420.0,70025.0,23620.0,13265.0,9460.0,2390975.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
Data as at March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source: Office for National Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Back to contents page,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Drop Nan, set multi_index, drop 'total' column

ukbusiness_employment_data = ukbusiness_employment_data.dropna()
ukbusiness_employment_data = ukbusiness_employment_data.set_index(['Unnamed: 1'], append=True)
ukbusiness_employment_data.index.names = ['NUTS_code', 'region']
ukbusiness_employment_data = ukbusiness_employment_data.iloc[:,:-1]
ukbusiness_employment_data

,,0-4,5-9,10-19,20-49,50-99,100-249,250+
NUTS_code,region,,,,,,,
K02000001,United Kingdom,2156975.0,305435.0,152540.0,81635.0,27215.0,15180.0,10720.0
K03000001,Great Britain,2097915.0,297235.0,148360.0,79300.0,26455.0,14765.0,10490.0
K04000001,England and Wales,1964640.0,274145.0,136585.0,73320.0,24585.0,13770.0,9785.0
E92000001,England,1883505.0,260680.0,130420.0,70025.0,23620.0,13265.0,9460.0
E12000001,North East,53130.0,9465.0,4660.0,2570.0,795.0,490.0,350.0
...,...,...,...,...,...,...,...,...
N09000006,Fermanagh and Omagh,7090.0,580.0,280.0,150.0,45.0,20.0,10.0
N09000007,Lisburn and Castlereagh,3735.0,620.0,310.0,200.0,45.0,30.0,20.0
N09000008,Mid and East Antrim,3930.0,560.0,250.0,125.0,40.0,20.0,10.0
N09000009,Mid Ulster,7515.0,855.0,400.0,210.0,85.0,45.0,20.0
N09000010,Newry Mourne and Down,7230.0,860.0,435.0,215.0,65.0,40.0,10.0

In [10]:
ukbusiness_sizeband_data = get_excel_to_dataframe(ukbusiness_url, 'Table 11', header=5, index_col=0)
ukbusiness_sizeband_data

,Unnamed: 1,0-49,50-99,100-249,250-499,500-999,1000-1999,2000-4999,5000-9999,10000-49999,50000+,Total
K02000001,United Kingdom,411835.0,622655.0,901405.0,351580.0,203020.0,113960.0,78985.0,30090.0,27290.0,8880.0,2749700.0
K03000001,Great Britain,392995.0,608800.0,881710.0,342360.0,197145.0,110445.0,76605.0,29200.0,26565.0,8695.0,2674520.0
K04000001,England and Wales,367095.0,569295.0,822570.0,318560.0,183715.0,103070.0,71900.0,27470.0,24970.0,8180.0,2496825.0
E92000001,England,347275.0,545610.0,789750.0,304825.0,176180.0,99140.0,69475.0,26580.0,24180.0,7955.0,2390970.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Data as at March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source: Office for National Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Back to contents page,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Drop Nan, set multi_index, drop 'total' column

ukbusiness_sizeband_data = ukbusiness_sizeband_data.dropna()
ukbusiness_sizeband_data = ukbusiness_sizeband_data.set_index(['Unnamed: 1'], append=True)
ukbusiness_sizeband_data.index.names = ['NUTS_code', 'region']
ukbusiness_sizeband_data = ukbusiness_sizeband_data.iloc[:,:-1]
ukbusiness_sizeband_data

,,0-49,50-99,100-249,250-499,500-999,1000-1999,2000-4999,5000-9999,10000-49999,50000+
NUTS_code,region,,,,,,,,,,
K02000001,United Kingdom,411835.0,622655.0,901405.0,351580.0,203020.0,113960.0,78985.0,30090.0,27290.0,8880.0
K03000001,Great Britain,392995.0,608800.0,881710.0,342360.0,197145.0,110445.0,76605.0,29200.0,26565.0,8695.0
K04000001,England and Wales,367095.0,569295.0,822570.0,318560.0,183715.0,103070.0,71900.0,27470.0,24970.0,8180.0
E92000001,England,347275.0,545610.0,789750.0,304825.0,176180.0,99140.0,69475.0,26580.0,24180.0,7955.0
E12000001,North East,8665.0,17100.0,24380.0,9625.0,5250.0,2870.0,1925.0,715.0,705.0,225.0
...,...,...,...,...,...,...,...,...,...,...,...
N09000006,Fermanagh and Omagh,3410.0,1355.0,1675.0,760.0,420.0,285.0,165.0,50.0,40.0,15.0
N09000007,Lisburn and Castlereagh,925.0,1060.0,1340.0,600.0,420.0,285.0,185.0,75.0,55.0,15.0
N09000008,Mid and East Antrim,1325.0,1005.0,1265.0,580.0,355.0,190.0,125.0,45.0,40.0,5.0
N09000009,Mid Ulster,2870.0,1505.0,2120.0,1025.0,690.0,410.0,285.0,105.0,95.0,25.0
N09000010,Newry Mourne and Down,2360.0,1635.0,2405.0,1020.0,665.0,380.0,240.0,90.0,45.0,15.0

In [12]:
# Export to csv

ukbusiness_employment_data.to_csv('data/business_employment_2020.csv')
ukbusiness_sizeband_data.to_csv('data/business_sizeband_2020.csv')

## 3. Regional gross value added (balanced) by industry (19th Dec 2019)
- Table 3B - NUTS 3 chained volume measures in 2016 money value

In [13]:
regional_gva_url = "https://www.ons.gov.uk/file?uri=%2feconomy%2fgrossvalueaddedgva%2fdatasets%2fnominalandrealregionalgrossvalueaddedbalancedbyindustry%2fcurrent/regionalgrossvalueaddedbalancedbyindustryallnutslevelregions.xlsx"
regional_gva_data = get_excel_to_dataframe(regional_gva_url, 'Table3b', header=1, index_col=0)
regional_gva_data

,Region name,SIC07,SIC07 description,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,20183
Region code,,,,,,,,,,,,,,,,,,,,,
UKC11,Hartlepool and Stockton-on-Tees,1-9,"Agriculture, forestry and fishing; mining and ...",6.0,4.0,4.0,3.0,4.0,5.0,6.0,...,12.0,17.0,43.0,48.0,61.0,59.0,53.0,25.0,31.0,35.0
UKC11,Hartlepool and Stockton-on-Tees,AB,"Agriculture, forestry and fishing; mining and ...",6.0,4.0,4.0,3.0,4.0,5.0,6.0,...,12.0,17.0,43.0,48.0,61.0,59.0,53.0,25.0,31.0,35.0
UKC11,Hartlepool and Stockton-on-Tees,10-12,"Manufacture of food, beverages and tobacco",128.0,132.0,131.0,121.0,116.0,120.0,118.0,...,110.0,127.0,125.0,123.0,83.0,76.0,63.0,112.0,108.0,120.0
UKC11,Hartlepool and Stockton-on-Tees,CA,"Manufacture of food, beverages and tobacco",128.0,132.0,131.0,121.0,116.0,120.0,118.0,...,110.0,127.0,125.0,123.0,83.0,76.0,63.0,112.0,108.0,120.0
UKC11,Hartlepool and Stockton-on-Tees,13-15,"Manufacture of textiles, wearing apparel and l...",16.0,15.0,14.0,13.0,11.0,13.0,10.0,...,7.0,9.0,8.0,6.0,5.0,6.0,6.0,4.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKN16,Fermanagh and Omagh,Total,All industries,1495.0,1578.0,1654.0,1699.0,1722.0,1823.0,1896.0,...,1895.0,1860.0,1858.0,1890.0,1898.0,1952.0,1968.0,2046.0,2162.0,2094.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 Workplace-based estimates are allocated to the region in which the economic activity takes place.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2 Components will not sum to totals since chain-linking produces non-additive volume estimates.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3 Provisional.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Drop NaN
# Rename last column from '20183' to '2018'
# Set multindex

regional_gva_data = regional_gva_data.dropna()
regional_gva_data = regional_gva_data.rename(columns={20183: 2018})
regional_gva_data = regional_gva_data.set_index(['Region name', 'SIC07', 'SIC07 description'], append=True)
regional_gva_data.index.names = ['NUTS_code', 'region', 'SIC07', 'SIC07_desc']
regional_gva_data

                                                                                                      1998  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     6.0
                                          AB    Agriculture, forestry and fishing; mining and q...     6.0
                                          10-12 Manufacture of food, beverages and tobacco           128.0
                                          CA    Manufacture of food, beverages and tobacco           128.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    16.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              14.0
                                          97-98 Households as employers and own use production         3.0
                                          T     Activities of households                               3.0
                                          G-T   Services sector                                     1043.0
                                          Total All industries                                      1495.0

                                                                                                      1999  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     4.0
                                          AB    Agriculture, forestry and fishing; mining and q...     4.0
                                          10-12 Manufacture of food, beverages and tobacco           132.0
                                          CA    Manufacture of food, beverages and tobacco           132.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    15.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              14.0
                                          97-98 Households as employers and own use production         4.0
                                          T     Activities of households                               4.0
                                          G-T   Services sector                                     1088.0
                                          Total All industries                                      1578.0

                                                                                                      2000  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     4.0
                                          AB    Agriculture, forestry and fishing; mining and q...     4.0
                                          10-12 Manufacture of food, beverages and tobacco           131.0
                                          CA    Manufacture of food, beverages and tobacco           131.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    14.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              14.0
                                          97-98 Households as employers and own use production         5.0
                                          T     Activities of households                               5.0
                                          G-T   Services sector                                     1126.0
                                          Total All industries                                      1654.0

                                                                                                      2001  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     3.0
                                          AB    Agriculture, forestry and fishing; mining and q...     3.0
                                          10-12 Manufacture of food, beverages and tobacco           121.0
                                          CA    Manufacture of food, beverages and tobacco           121.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    13.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              16.0
                                          97-98 Households as employers and own use production         6.0
                                          T     Activities of households                               6.0
                                          G-T   Services sector                                     1169.0
                                          Total All industries                                      1699.0

                                                                                                      2002  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     4.0
                                          AB    Agriculture, forestry and fishing; mining and q...     4.0
                                          10-12 Manufacture of food, beverages and tobacco           116.0
                                          CA    Manufacture of food, beverages and tobacco           116.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    11.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              15.0
                                          97-98 Households as employers and own use production         6.0
                                          T     Activities of households                               6.0
                                          G-T   Services sector                                     1213.0
                                          Total All industries                                      1722.0

                                                                                                      2003  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     5.0
                                          AB    Agriculture, forestry and fishing; mining and q...     5.0
                                          10-12 Manufacture of food, beverages and tobacco           120.0
                                          CA    Manufacture of food, beverages and tobacco           120.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    13.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              15.0
                                          97-98 Households as employers and own use production         6.0
                                          T     Activities of households                               6.0
                                          G-T   Services sector                                     1287.0
                                          Total All industries                                      1823.0

                                                                                                      2004  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     6.0
                                          AB    Agriculture, forestry and fishing; mining and q...     6.0
                                          10-12 Manufacture of food, beverages and tobacco           118.0
                                          CA    Manufacture of food, beverages and tobacco           118.0
                                          13-15 Manufacture of textiles, wearing apparel and le...    10.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              14.0
                                          97-98 Households as employers and own use production         5.0
                                          T     Activities of households                               5.0
                                          G-T   Services sector                                     1312.0
                                          Total All industries                                      1896.0

                                                                                                      2005  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     4.0
                                          AB    Agriculture, forestry and fishing; mining and q...     4.0
                                          10-12 Manufacture of food, beverages and tobacco           102.0
                                          CA    Manufacture of food, beverages and tobacco           102.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     9.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              15.0
                                          97-98 Households as employers and own use production         4.0
                                          T     Activities of households                               4.0
                                          G-T   Services sector                                     1383.0
                                          Total All industries                                      2011.0

                                                                                                      2006  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     4.0
                                          AB    Agriculture, forestry and fishing; mining and q...     4.0
                                          10-12 Manufacture of food, beverages and tobacco           107.0
                                          CA    Manufacture of food, beverages and tobacco           107.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     8.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              16.0
                                          97-98 Households as employers and own use production         2.0
                                          T     Activities of households                               2.0
                                          G-T   Services sector                                     1427.0
                                          Total All industries                                      2073.0

                                                                                                      2007  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...     4.0
                                          AB    Agriculture, forestry and fishing; mining and q...     4.0
                                          10-12 Manufacture of food, beverages and tobacco           110.0
                                          CA    Manufacture of food, beverages and tobacco           110.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     7.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              16.0
                                          97-98 Households as employers and own use production         1.0
                                          T     Activities of households                               1.0
                                          G-T   Services sector                                     1383.0
                                          Total All industries                                      2023.0

                                                                                                    ...  \
NUTS_code region                          SIC07 SIC07_desc                                          ...
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...  ...
                                          AB    Agriculture, forestry and fishing; mining and q...  ...
                                          10-12 Manufacture of food, beverages and tobacco          ...
                                          CA    Manufacture of food, beverages and tobacco          ...
                                          13-15 Manufacture of textiles, wearing apparel and le...  ...
...                                                                                                 ...
UKN16     Fermanagh and Omagh             S     Other service activities                            ...
                                          97-98 Households as employers and own use production      ...
                                          T     Activities of households                            ...
                                          G-T   Services sector                                     ...
                                          Total All industries                                      ...

                                                                                                      2009  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...    12.0
                                          AB    Agriculture, forestry and fishing; mining and q...    12.0
                                          10-12 Manufacture of food, beverages and tobacco           110.0
                                          CA    Manufacture of food, beverages and tobacco           110.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     7.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              15.0
                                          97-98 Households as employers and own use production         1.0
                                          T     Activities of households                               1.0
                                          G-T   Services sector                                     1369.0
                                          Total All industries                                      1895.0

                                                                                                      2010  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...    17.0
                                          AB    Agriculture, forestry and fishing; mining and q...    17.0
                                          10-12 Manufacture of food, beverages and tobacco           127.0
                                          CA    Manufacture of food, beverages and tobacco           127.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     9.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              15.0
                                          97-98 Households as employers and own use production         2.0
                                          T     Activities of households                               2.0
                                          G-T   Services sector                                     1336.0
                                          Total All industries                                      1860.0

                                                                                                      2011  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...    43.0
                                          AB    Agriculture, forestry and fishing; mining and q...    43.0
                                          10-12 Manufacture of food, beverages and tobacco           125.0
                                          CA    Manufacture of food, beverages and tobacco           125.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     8.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              16.0
                                          97-98 Households as employers and own use production         2.0
                                          T     Activities of households                               2.0
                                          G-T   Services sector                                     1364.0
                                          Total All industries                                      1858.0

                                                                                                      2012  \
NUTS_code region                          SIC07 SIC07_desc
UKC11     Hartlepool and Stockton-on-Tees 1-9   Agriculture, forestry and fishing; mining and q...    48.0
                                          AB    Agriculture, forestry and fishing; mining and q...    48.0
                                          10-12 Manufacture of food, beverages and tobacco           123.0
                                          CA    Manufacture of food, beverages and tobacco           123.0
                                          13-15 Manufacture of textiles, wearing apparel and le...     6.0
...                                                                                                    ...
UKN16     Fermanagh and Omagh             S     Other service activities                              11.0
                                          97-98 Households as employers and own use production         3.0
                                          T     Activities of households                               3.0

In [15]:
# Export to csv

regional_gva_data.to_csv('data/regional_gva_2020.csv')

## 4. Regional gross disposable household income: all NUTS level regions (4th June 2020)
- Table 7 - Components of GDHI per head of population at current basic prices

In [16]:
regional_gdhi_url = "https://www.ons.gov.uk/file?uri=%2feconomy%2fregionalaccounts%2fgrossdisposablehouseholdincome%2fdatasets%2fregionalgrossdisposablehouseholdincomegdhi%2f1997to2018/regionalgrossdisposablehouseholdincomeallnutslevelregions.xls"
regional_gdhi_data = get_excel_to_dataframe(regional_gdhi_url, 'Table 7', header=1, index_col=0)
regional_gdhi_data

,NUTS code,Region name,Transaction code,Transaction,1997,1998,1999,2000,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,20181
NUTS level,,,,,,,,,,,,,,,,,,,,,
UK,UK,United Kingdom,B.2g,Operating surplus,1763.0,1815.0,1909.0,1969.0,2030.0,2038.0,...,2037.0,2017.0,2077.0,2212.0,2222.0,2383.0,2517.0,2645.0,2632.0,2717.0
UK,UK,United Kingdom,B.3g,Mixed income,999.0,1061.0,1119.0,1168.0,1222.0,1302.0,...,1544.0,1598.0,1632.0,1686.0,1754.0,1856.0,1934.0,1980.0,2068.0,2215.0
UK,UK,United Kingdom,D.1,Compensation of employees,7534.0,7932.0,8537.0,9108.0,9612.0,9885.0,...,12664.0,12916.0,13075.0,13232.0,13734.0,13997.0,14273.0,14736.0,15276.0,15844.0
UK,UK,United Kingdom,D.4,"Property income, received",2589.0,2696.0,2470.0,2869.0,2710.0,2689.0,...,3132.0,3093.0,3019.0,2911.0,2978.0,3346.0,3586.0,3396.0,3204.0,3536.0
UK,UK,United Kingdom,NaN,Primary resources total,12885.0,13503.0,14035.0,15114.0,15575.0,15914.0,...,19376.0,19625.0,19802.0,20042.0,20689.0,21582.0,22310.0,22757.0,23181.0,24312.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NUTS3,UKN16,Fermanagh and Omagh,NaN,Secondary uses total,3136.0,3474.0,3525.0,3843.0,3916.0,4217.0,...,5492.0,6041.0,6121.0,6152.0,5956.0,5956.0,6203.0,6268.0,6414.0,6430.0
NUTS3,UKN16,Fermanagh and Omagh,NaN,Balance of secondary income,-657.0,-820.0,-922.0,-1174.0,-1315.0,-1393.0,...,-1154.0,-1235.0,-1182.0,-907.0,-748.0,-805.0,-903.0,-736.0,-758.0,-690.0
NUTS3,UKN16,Fermanagh and Omagh,B.6g,Gross Disposable Income,7649.0,7716.0,8111.0,8433.0,8688.0,9141.0,...,12429.0,12641.0,13027.0,13224.0,13481.0,13822.0,14685.0,15232.0,15916.0,16569.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 Provisional.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Drop NaN
# Rename last column from '20183' to '2018'
# Set multindex

regional_gdhi_data = regional_gdhi_data.dropna()
regional_gdhi_data = regional_gdhi_data.rename(columns={'20181': '2018'})
regional_gdhi_data = regional_gdhi_data.set_index(['NUTS code', 'Region name', 'Transaction code', 'Transaction'], append=True)
regional_gdhi_data.index.names = ['NUTS_level', 'NUTS_code', 'region', 'transaction_code', 'transaction_desc']
regional_gdhi_data

                                                                                                       1997  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                          1763.0
                                         B.3g             Mixed income                                999.0
                                         D.1              Compensation of employees                  7534.0
                                         D.4              Property income, received                  2589.0
                                                          Property income, paid                       561.0
...                                                                                                     ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received           421.0
                                         D.5              Current taxes on income, wealth etc         799.0
                                         D.61/D.62        Social contributions/Social benefits paid  1863.0
                                         D.7              Other current transfers, paid               474.0
                                         B.6g             Gross Disposable Income                    7649.0

                                                                                                       1998  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                          1815.0
                                         B.3g             Mixed income                               1061.0
                                         D.1              Compensation of employees                  7932.0
                                         D.4              Property income, received                  2696.0
                                                          Property income, paid                       619.0
...                                                                                                     ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received           527.0
                                         D.5              Current taxes on income, wealth etc         911.0
                                         D.61/D.62        Social contributions/Social benefits paid  1972.0
                                         D.7              Other current transfers, paid               590.0
                                         B.6g             Gross Disposable Income                    7716.0

                                                                                                       1999  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                          1909.0
                                         B.3g             Mixed income                               1119.0
                                         D.1              Compensation of employees                  8537.0
                                         D.4              Property income, received                  2470.0
                                                          Property income, paid                       582.0
...                                                                                                     ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received           520.0
                                         D.5              Current taxes on income, wealth etc         999.0
                                         D.61/D.62        Social contributions/Social benefits paid  1944.0
                                         D.7              Other current transfers, paid               582.0
                                         B.6g             Gross Disposable Income                    8111.0

                                                                                                       2000  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                          1969.0
                                         B.3g             Mixed income                               1168.0
                                         D.1              Compensation of employees                  9108.0
                                         D.4              Property income, received                  2869.0
                                                          Property income, paid                       695.0
...                                                                                                     ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received           600.0
                                         D.5              Current taxes on income, wealth etc        1049.0
                                         D.61/D.62        Social contributions/Social benefits paid  2127.0
                                         D.7              Other current transfers, paid               667.0
                                         B.6g             Gross Disposable Income                    8433.0

                                                                                                       2001  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                          2030.0
                                         B.3g             Mixed income                               1222.0
                                         D.1              Compensation of employees                  9612.0
                                         D.4              Property income, received                  2710.0
                                                          Property income, paid                       654.0
...                                                                                                     ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received           530.0
                                         D.5              Current taxes on income, wealth etc        1105.0
                                         D.61/D.62        Social contributions/Social benefits paid  2208.0
                                         D.7              Other current transfers, paid               603.0
                                         B.6g             Gross Disposable Income                    8688.0

                                                                                                       2002  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                          2038.0
                                         B.3g             Mixed income                               1302.0
                                         D.1              Compensation of employees                  9885.0
                                         D.4              Property income, received                  2689.0
                                                          Property income, paid                       598.0
...                                                                                                     ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received           591.0
                                         D.5              Current taxes on income, wealth etc        1113.0
                                         D.61/D.62        Social contributions/Social benefits paid  2422.0
                                         D.7              Other current transfers, paid               683.0
                                         B.6g             Gross Disposable Income                    9141.0

                                                                                                        2003  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2088.0
                                         B.3g             Mixed income                                1325.0
                                         D.1              Compensation of employees                  10356.0
                                         D.4              Property income, received                   2660.0
                                                          Property income, paid                        613.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            514.0
                                         D.5              Current taxes on income, wealth etc         1274.0
                                         D.61/D.62        Social contributions/Social benefits paid   2606.0
                                         D.7              Other current transfers, paid                626.0
                                         B.6g             Gross Disposable Income                     9942.0

                                                                                                        2004  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2144.0
                                         B.3g             Mixed income                                1343.0
                                         D.1              Compensation of employees                  10956.0
                                         D.4              Property income, received                   2952.0
                                                          Property income, paid                        802.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            586.0
                                         D.5              Current taxes on income, wealth etc         1394.0
                                         D.61/D.62        Social contributions/Social benefits paid   2769.0
                                         D.7              Other current transfers, paid                715.0
                                         B.6g             Gross Disposable Income                    10776.0

                                                                                                        2005  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2181.0
                                         B.3g             Mixed income                                1421.0
                                         D.1              Compensation of employees                  11465.0
                                         D.4              Property income, received                   3240.0
                                                          Property income, paid                        910.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            512.0
                                         D.5              Current taxes on income, wealth etc         1477.0
                                         D.61/D.62        Social contributions/Social benefits paid   2968.0
                                         D.7              Other current transfers, paid                653.0
                                         B.6g             Gross Disposable Income                    11588.0

                                                                                                        2006  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2241.0
                                         B.3g             Mixed income                                1484.0
                                         D.1              Compensation of employees                  12136.0
                                         D.4              Property income, received                   3268.0
                                                          Property income, paid                        999.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            563.0
                                         D.5              Current taxes on income, wealth etc         1587.0
                                         D.61/D.62        Social contributions/Social benefits paid   3185.0
                                         D.7              Other current transfers, paid                703.0
                                         B.6g             Gross Disposable Income                    12210.0

                                                                                                     ...  \
NUTS_level NUTS_code region              transaction_code transaction_desc                           ...
UK         UK        United Kingdom      B.2g             Operating surplus                          ...
                                         B.3g             Mixed income                               ...
                                         D.1              Compensation of employees                  ...
                                         D.4              Property income, received                  ...
                                                          Property income, paid                      ...
...                                                                                                  ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received          ...
                                         D.5              Current taxes on income, wealth etc        ...
                                         D.61/D.62        Social contributions/Social benefits paid  ...
                                         D.7              Other current transfers, paid              ...
                                         B.6g             Gross Disposable Income                    ...

                                                                                                        2009  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2037.0
                                         B.3g             Mixed income                                1544.0
                                         D.1              Compensation of employees                  12664.0
                                         D.4              Property income, received                   3132.0
                                                          Property income, paid                        425.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            572.0
                                         D.5              Current taxes on income, wealth etc         1610.0
                                         D.61/D.62        Social contributions/Social benefits paid   3129.0
                                         D.7              Other current transfers, paid                753.0
                                         B.6g             Gross Disposable Income                    12429.0

                                                                                                        2010  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2017.0
                                         B.3g             Mixed income                                1598.0
                                         D.1              Compensation of employees                  12916.0
                                         D.4              Property income, received                   3093.0
                                                          Property income, paid                        306.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            748.0
                                         D.5              Current taxes on income, wealth etc         1613.0
                                         D.61/D.62        Social contributions/Social benefits paid   3472.0
                                         D.7              Other current transfers, paid                956.0
                                         B.6g             Gross Disposable Income                    12641.0

                                                                                                        2011  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2077.0
                                         B.3g             Mixed income                                1632.0
                                         D.1              Compensation of employees                  13075.0
                                         D.4              Property income, received                   3019.0
                                                          Property income, paid                        361.0
...                                                                                                      ...
NUTS3      UKN16     Fermanagh and Omagh D.7              Other current transfers, received            842.0
                                         D.5              Current taxes on income, wealth etc         1728.0
                                         D.61/D.62        Social contributions/Social benefits paid   3376.0
                                         D.7              Other current transfers, paid               1017.0
                                         B.6g             Gross Disposable Income                    13027.0

                                                                                                        2012  \
NUTS_level NUTS_code region              transaction_code transaction_desc
UK         UK        United Kingdom      B.2g             Operating surplus                           2212.0
                                         B.3g             Mixed income                                1686.0
                                         D.1              Compensation of employees                  13232.0
                                         D.4              Property income, received                   2911.0

In [18]:
# Export to csv

regional_gdhi_data.to_csv('data/regional_gdhi_2020.csv')